.message {
  margin-bottom: 15px;
  box-shadow: 6px 6px 6px #898989;
  & > div {
    padding: 5px;
  }
  & .message-header {
    background: #898989;
    background: -moz-linear-gradient(left, #898989 0%, #c1c1c5 100%);
    background: -webkit-linear-gradient(left, #898989 0%, #c1c1c5 100%);
    background: linear-gradient(to right, #898989 0%, #c1c1c5 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    & > i {
      cursor: pointer;
      font-size: 1.3em;
      color: black;
      font-weight: bold;
    }
  }
  & .message-body {
    font-family: 'Courier New', Courier, monospace;
    max-height: 75px;
    overflow-y: auto;
    background-color: black;
    color: #66ff33;
    & > li {
      list-style-type: none;
      font-size: 1em;
    }
  }
}
