<ngb-accordion [closeOthers]='true' #acc="ngbAccordion" activeIds="ngb-panel-5">
  <ngb-panel title="Bindings">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-4">
          <h3>Interpolation and Expressions</h3>
          <div>
            {{ firstName }} {{ lastName }}
          </div>
          <div>
            {{ firstName + " " + lastName }}
          </div>
          <div>
            {{ firstName + " " + lastName + " " + (isHappy ? ":}" : ":(") }}
          </div>
          <div>
            {{ getMessage() }}
          </div>
        </div>
        <div class="col-md-4">
          <h3>Property Binding and Event Binding</h3>
          <div [innerHTML]='firstName + " " + lastName'>
          </div>
          <div>
            First name: <small>(Property binding)</small> <input class="form-control" type="text" [value]="firstName">
          </div>
          <div class="mt-2">
            <h4>Dynamic Image Source <small>(Property binding)</small></h4>
            <img [src]="imageSource" alt="">
          </div>
          <div class="mt-2">
            First name: <small>(Property binding & event binding)</small><input class="form-control" type="text"
              [value]="firstName" (input)="onInputHandler($event)">
          </div>
        </div>
        <div class="col-md-4">
          <h3>Two-way data binding and Template references</h3>
          <div>
            First name: <small>(Property binding & event binding - ngModel and ngModelChange)</small> <input class="form-control"
              type="text" [ngModel]="firstName" (ngModelChange)="onChangeHandler($event)">
          </div>
          <div class="mt-2">
            First name: <small>(Two way data binding)</small> <input class="form-control" type="text" [(ngModel)]="firstName">
          </div>
          <div class="mt-2">
            Last name: <small>(Property binding & template reference)</small> <input class="form-control" type="text"
              [value]='lastName' #lastname><br />
            <button class="btn btn-primary mt-2" (click)='lastName = lastname.value'>Update LastName</button><small>(event
              binding & template reference)</small>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Structural Directives">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
          <div>
            Search: <input type="text" [(ngModel)]='search' class="form-control">
            <div *ngIf="search?.length > 3">Searching for {{ search }}... <small>*ngIf directive</small></div>
            <ng-template [ngIf]="search?.length > 3">
              <div>Searching for {{ search }}... <small>ngIf property binding with ng-template</small></div>
            </ng-template>
            <div *appCustomIf="search?.length> 4">Searching for {{ search }}... <small>customIf structural directive</small></div>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="instructors.length > 0; else noinstructor">
            Instructor List:<br />
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Age</th>
                  <th>Gender</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let instructor of instructors'>
                  <td>{{ instructor.FirstName }} </td>
                  <td>{{ instructor.LastName }}</td>
                  <td>{{ instructor.Age }}</td>
                  <td>{{ instructor.Gender }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noinstructor>
            <div class="d-flex justify-content-center align-items-center">
              <h4 style="color:maroon">No instructor is available..</h4>
            </div>
          </ng-template>
          <small>ngForm and ng-template</small>
          <ng-template ngFor let-instructor [ngForOf]="instructors" let-i="index">
            <div style="margin-left:5px;">
              {{ i }} : {{ instructor.FirstName }} {{ instructor.LastName }}
            </div>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title='Attribute directives'>
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
          <h3>Class Directives</h3>
          <h4><small>[class.*]</small></h4>
          <div *ngFor="let instructor of instructors; let i = index">
            <span class="dot" [class.female]="instructor.Gender == 'female' "> </span>
            {{ i}}: {{instructor.FirstName}} {{ instructor.LastName }}
          </div>
          <h4><small>ngClass</small></h4>
          <div *ngFor="let instructor of instructors; let i = index; let isOdd = 'odd' ">
            <span class="dot" [ngClass]="{female: instructor.Gender == 'female',  odd: isOdd }"> </span>
            {{ i}}: {{instructor.FirstName}} {{ instructor.LastName }}
          </div>
        </div>
        <div class="col-md-6">
          <h3>Style Directives</h3>
          <h4><small>[style.*]</small></h4>
          <div *ngFor="let instructor of instructors; let i = index">
            <span [style.backgroundColor]="instructor.Gender == 'female' ? 'mediumvioletred' : 'steelblue' ">
              {{ i}}: {{instructor.FirstName}} {{ instructor.LastName }}</span>
          </div>
          <h4><small>ngStyle</small></h4>
          <div *ngFor="let instructor of instructors; let i = index; let isOdd = 'odd' ">
            <span [ngStyle]="{backgroundColor: instructor.Gender == 'female' ? 'mediumvioletred' : 'steelblue', color: instructor.Gender == 'female' ? 'white' : '' }">
              {{ i}}: {{instructor.FirstName}} {{ instructor.LastName }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title='Pipes'>
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6" style="padding-left:10px;">
          <div>
            {{ instructors[0].getFullName() | uppercase}} <span ngNonBindable><small>{{ instructors[0].getFullName() |
                uppercase}}</small></span>
          </div>
          <div>
            {{ today | date:'mediumDate'}} <span ngNonBindable><small>{{ today | date:'mediumDate' }}</small></span>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Custom Pipes</h3>
          {{ distanceInMiles + ' miles is equal to ' + (distanceInMiles | mileToKm | number:'2.1-3') + ' Km.' }}
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Component Communication">
    <ng-template ngbPanelContent>
      <app-sample-parent></app-sample-parent>
    </ng-template>
  </ngb-panel>
  <!-- <ngb-panel title="Employee Dashboard">
    <ng-template ngbPanelContent>
      <app-employee-dashboard></app-employee-dashboard>
    </ng-template>
  </ngb-panel> -->
</ngb-accordion>
