small {
  font-weight: bold;
  color: red;
  font-size: small;
  margin-left: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: steelblue;
}

.female {
  background-color: mediumvioletred;
}
