<div class="row lightgrid" appHighlight='lightgray'>
  <div class="col-4 d-flex align-items-center">
    <span *ngIf="!isEdit">{{ employee.FirstName }} </span>
    <input [hidden]="!isEdit" type="text" #edtFirstName [value]='employee.FirstName' class="form-control">
  </div>
  <div class="col-4 d-flex align-items-center">
    <span *ngIf="!isEdit">{{ employee.LastName }} </span>
    <input [hidden]="!isEdit" type="text" #edtLastName [value]='employee.LastName' class="form-control">
  </div>
  <div class="col-4 d-flex justify-content-center">
    <button type="button" class="btn btn-primary mr-2" *ngIf="!isEdit" (click)="onEdit()">Edit</button>
    <button type="button" class="btn btn-success mr-2" *ngIf="isEdit" (click)="onEmployeeUpdate(edtFirstName.value, edtLastName.value, employee.id)">Update</button>
    <button type="button" class="btn btn-default" *ngIf="isEdit" (click)="resetTemplate()">Cancel</button>
    <button type="button" class="btn btn-danger" *ngIf="!isEdit" (click)='onEmployeeDelete(employee.id)'>Delete</button>
  </div>
</div>
