.header {
  border-bottom: 1px solid red;
  & div {
    color: steelblue;
    font-weight: bold;
  }
}

.lightgrid div {
  border-right: 1px solid lightgray;
  padding: 2px 5px;
  &:last-child {
    border-right: 0px;
  }
}
