<div class="card">
  <div class="card-header">
    Employee Details
  </div>

  <div class="card-body">
    <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['basicInfo']" queryParamsHandling='preserve'>Basic
          Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['addressInfo']" queryParamsHandling='preserve'>Address
          Info</a>
      </li>
    </ul>
    <div class="tabContent">
      <router-outlet></router-outlet> <!-- CHILD ROUTE TEMPLATES WILL BE DISPLAYED HERE -->
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary float-right" (click)="onAddressClick()">Address Info</button>
    <button type="button" class="btn btn-success mr-2" [routerLink]="['/employees']" queryParamsHandling='preserve'>Back</button>
    <!-- <a *ngIf="employeeSharedService.isAddressInfoRoute" class="btn btn-danger" (click)='onAddressInfoEdit()'>Edit
      Address</a> -->
    <button type="button" class="btn btn-danger" (click)='onAddressInfoEdit()'>Edit
      Address</button>
  </div>
</div>



<!-- <h4>
  Employee Detail Page
</h4>
<div class="row" *ngIf='(employee | async) as employee; else noemployee'>
  <div class="col-12">
    {{ employee.FirstName }} {{ employee.LastName }}
  </div>
</div>
<ng-template #noemployee>
  <div class="row">
    <div class="col-12">
      <h5>Employee not found !!!</h5>
    </div>
  </div>
</ng-template>
<a class="btn btn-success" [routerLink]="['/employees']" queryParamsHandling='preserve'>Back</a> -->
