<div class="row child">
  <div class="col-12 d-flex justify-content-center">
    <h4>Child component</h4>
  </div>
  <div class="col-6">
    <span *ngIf="ClassName.length==0">PlaceHolder</span> {{ ClassName}}
  </div>
  <div class="col-6 d-flex  justify-content-end">
    <button type="button" class="btn btn-warning" (click)='onUpdate()'>Update</button>
  </div>
</div>
