<div class="row">
  <div class="col-md-4">First Name</div>
  <div class="col-md-8">{{ employee.FirstName}}</div>
</div>
<div class="row">
  <div class="col-md-4">Last Name</div>
  <div class="col-md-8">{{ employee.LastName }}</div>
</div>
<div class="row">
  <div class="col-md-4">Gender</div>
  <div class="col-md-8">{{ employee.Gender }}</div>
</div>
<div class="row">
  <div class="col-md-4">Phone Number</div>
  <div class="col-md-8">{{ employee.PhoneNumber }}</div>
</div>
<div class="row">
  <div class="col-md-4">Email Address</div>
  <div class="col-md-8">{{ employee.EmailAddress }}</div>
</div>
