<span *ngIf='loading'><i class="fa fa-cog spinner"></i>
</span>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><i class="fab fa-angular"></i> {{ brandName }}</a>
    <button class="navbar-toggler hidden-lg-up" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
      data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]=" { exact: true} ">
          <a class="nav-link" [routerLink]="['/']">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/playground']">Playground <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/employees']">Employees <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav  my-2">
        <li>
          <a style="cursor: pointer;" class="nav-link" (click)='toggleLogListWidget()'>
            {{ loggerService.isLogVisible ? "Hide" : " Show"}} Logs List
          </a>
        </li>
        <li *ngIf="!currentUser">
          <a class="nav-link" [routerLink]="['/login']" style="cursor:pointer">Log
            in</a>
        </li>
        <li *ngIf="currentUser">
          <a class="nav-link" style="cursor:pointer" (click)="signOut()"><i class="fa fa-user"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-1 mt-md-2">
    <div class="col-12">
      <router-outlet name="logListWidget"></router-outlet>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
