<div class="row">
  <div class="col-md-4">Address Line 1</div>
  <div class="col-md-8">
    <span *ngIf="!isAddressInfoEditMode">{{ address.AddressLine1 }}</span>
    <input *ngIf="isAddressInfoEditMode" type="text" #refAddressline1 (input)="compareAddressLine(refAddressline1.value)"
      [value]='address.AddressLine1' />
  </div>
</div>
<div class="row">
  <div class="col-md-4">Address Line 2</div>
  <div class="col-md-8">{{ address.AddressLine2 }}</div>
</div>
<div class="row">
  <div class="col-md-4">City</div>
  <div class="col-md-8">{{ address.City }}</div>
</div>
<div class="row">
  <div class="col-md-4">State</div>
  <div class="col-md-8">{{ address.StateProvince }}</div>
</div>
<div class="row">
  <div class="col-md-4">Postal Code</div>
  <div class="col-md-8">{{ address.PostalCode }}</div>
</div>
<div class="row">
  <div class="col-md-4">Country</div>
  <div class="col-md-8">{{ address.Country }}</div>
</div>
