<div class="row">
  <div class="col-12" *ngIf="showEmployeeData">
    <div style="max-height: 100px;overflow-y: auto;">
      {{ employees | json}}
    </div>
    <hr />
  </div>
</div>
<div class="col-md-12">
  <div class="row d-flex align-items-center">
    <div class="col-3">
      <button type="button" class="btn btn-default" (click)="onNewEmployee()">
        <i class="fas fa-user-plus"></i> New Employee
      </button>
    </div>
    <div class="col-9 d-flex justify-content-end align-items-center">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
          <div style="font-size: 1.5em; margin-right:5px;">
            <i class="far fa-eye" style="cursor:pointer" *ngIf="!showEmployeeData" (click)="showEmployeeData = !showEmployeeData"></i>
            <i class="far fa-eye-slash" *ngIf="showEmployeeData" style="cursor:pointer" (click)="showEmployeeData = !showEmployeeData"></i>
          </div>
          <span>Employee Total: {{ employees?.length }}</span>
        </div>
        <div>
          Employee Detail Style:
          <input type="radio" name="detailstyle" value='inline' [checked]='detailStyle === "inline"' (change)='onDetailStyleChange("inline")'>
          Inline
          <input type="radio" name="detailstyle" [checked]='detailStyle === "external"' value="external" (change)='onDetailStyleChange("external")'>
          External
        </div>
      </div>
    </div>
  </div>
