<div class="row parent">
  <div class="col-12 d-flex justify-content-center">
    <h4>Parent Component</h4>
  </div>
  <div class="col-4">
    <label for="classname">Class name:</label>
    <input type="text" id="classname" class="form-control" #classname [(ngModel)]='ClassName'>
  </div>
  <div class="col-8">
    <app-sample-child [ClassName]='ClassName' (UpdateClassName)='onClassNameUpdate($event)'></app-sample-child>
  </div>
</div>
